<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Create Products</title>
</head>
<body>
 <h1>Create A Products</h1>
 <form action="/products" method="post">
  <label for="name">Nama Produk</label>
  <input type="text" name="name" id="name">
  <label for="brand">Brand</label>
  <input type="text" name="brand" id="brand">
  <label for="color">Warna</label>
  <input type="text" name="color" id="color">
  <label for="price">Harga</label>
  <input type="number" name="price" id="price">
  <label for="category">Kategori</label>
  <select name="category" id="category">
   <option value="Baju">Baju</option>
   <option value="Celana">Celana</option>
   <option value="Aksesoris">Aksesoris</option>
   <option value="Jaket">Jaket</option>
  </select>
  <button type="submit">Submit</button>
 </form>
 <br>
 <a href="/products">All Products</a>
</body>
</html>